<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AXIS</title>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/loading.css">
</head>
<body>
  <div id="loadingContainer" class="containers">
    <img src="/images/logo.svg" id="loadingLogo">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>
  <script>
    const api = "<%= api %>";
    const front = "<%= front %>";
  </script>
  <script src="/js/main.js"></script>
</body>
</html>